[mediumDPI]
resourceBarGeometry=@Rect(1883 0 436 1080)
resourceBarButtonSize=@Size(37 1080)
bottomMenuGeometry=@Rect(37 984 399 96)
resourceFrameSize=@Size(399 984)
slideDownLength=300
leftMenuSize=@Size(93 984)
computerContentGeometry=@Rect(93 0 306 984)
fileFrameManagerGeometry=@Rect(0 0 300 934)
fileFrameManagerPos=@Point(0 55)
backButtonSize=@Size(55 55)
backButtonPixmapGeometry=@Rect(6 12 18 30)
leftMenuItemSize=@Size(141 57)
fileItemSize=@Size(100 120)
fileItemPixmapGeometry=@Rect(5 0 85 85)
bottomItemSize=@Size(133 96)
fileItemTextGeometry=@Rect(2 90 98 25)
fileFrameScrollAreaGeometry=@Rect(23 0 530 364)
fileFrameGridLayoutContentsMargins=@Rect(5 2 5 20)
fileFrameGridLayoutVerticalSpacing=22
fileFrameGridLayoutHorizontalSpacing=18
fileFrameFileHight=130
fileFrameMaxColumn=4
fileFrameGeometry=@Rect(0 38 565 364)
fileExplorerTopWidgetGeometry=@Rect(0 0 706 46)
fileExplorerLeftWidgetGeometry=@Rect(0 46 140 502)
fileExplorerFileWidgetGeometry=@Rect(140 46 565 502)
fileExplorerBottomWidgetGeometry=@Rect(140 449 565 99)
fileExplorerOkButtonGeometry=@Rect(288 42 116 38)
fileExplorerCancelButtonGeometry=@Rect(425 42 116 38)

[largeDPI]
windowSize=@Size(1400 1088)
backButtonSize=@Size(89 77)
backButtonPixmapGeometry=@Rect(30 20 44 32)
leftMenuItemSize=@Size(280 124)
leftMenuSize=@Size(280 372)
fileItemSize=@Size(200 240)
fileItemPixmapGeometry=@Rect(10 0 170 170)
fileItemTextGeometry=@Rect(4 180 196 50)
fileFrameScrollAreaGeometry=@Rect(40 0 1060 728)
fileFrameGridLayoutContentsMargins=@Rect(10 4 10 40)
fileFrameGridLayoutVerticalSpacing=50
fileFrameGridLayoutHorizontalSpacing=40
fileFrameFileHight=260
fileFrameMaxColumn=4
fileFrameGeometry=@Rect(0 77 1120 728)
fileExplorerTopWidgetGeometry=@Rect(0 0 1400 88)
fileExplorerLeftWidgetGeometry=@Rect(0 88 280 1000)
fileExplorerFileWidgetGeometry=@Rect(280 88 1120 1000)
fileExplorerBottomWidgetGeometry=@Rect(280 892 1120 196)
fileExplorerOkButtonGeometry=@Rect(572 84 232 76)
fileExplorerCancelButtonGeometry=@Rect(844 84 232 76)

[Resolution]
Resolution=@Size(1920 1080)

[recentOpen]
settingIndex=18
1=C:/Users/Administrator/Desktop/tt3.txt
2=C:/Users/Administrator/Desktop/XMind 7.lnk
3=C:/Users/Administrator/Desktop/test/dragwidget.h
4=C:/Users/Administrator/Desktop/test/ctlnormalbtn.cpp
5=c:/Windows/Microsoft.NET/NETFXRepair.1033.dll
6=c:/Windows/Microsoft.NET/NETFXRepair.1032.dll
7=c:/Windows/Microsoft.NET/NETFXRepair.1029.dll
8=c:/Windows/Microsoft.NET/NETFXRepair.1025.dll
9=c:/Program Files/Google/Chrome/Application/39.0.2171.99/chrome_200_percent.pak
10=c:/Program Files/Google/Chrome/Application/39.0.2171.99/39.0.2171.99.manifest
11=c:/Program Files/Google/Chrome/Application/Dictionaries/en-US-3-0.bdic
12=c:/Program Files/Google/Chrome/Application/chrome.exe
13=c:/Program Files/Google/Chrome/Application/debug.log
14=c:/Program Files/Google/Chrome/Application/VisualElementsManifest.xml
15=c:/Qt/Qt5.6.0/5.6/msvc2013/bin/Qt53DCore.dll
16=e:/Foxmail 7.2/NoteDataConverter.dll
17=C:/Users/Administrator/Desktop/2016\x5e74\x35\x6708\x32\x36\x65e5\x6700\x65b0\x901a\x8baf\x5f55.xlsx
18=C:/Users/Administrator/Desktop/test/dragwidget.cpp
19=C:/Users/Administrator/Desktop/tt2.txt
