[mediumDPI]
windowSize=@Size(706 548)
backButtonSize=@Size(44 38)
backButtonPixmapGeometry=@Rect(15 10 22 16)
leftMenuItemSize=@Size(141 57)
leftMenuSize=@Size(141 171)
fileItemSize=@Size(100 120)
fileItemPixmapGeometry=@Rect(5 0 85 85)
fileItemTextGeometry=@Rect(2 90 98 25)
fileFrameScrollAreaGeometry=@Rect(23 0 530 364)
fileFrameGridLayoutContentsMargins=@Rect(5 2 5 20)
fileFrameGridLayoutVerticalSpacing=22
fileFrameGridLayoutHorizontalSpacing=18
fileFrameFileHight=130
fileFrameMaxColumn=4
fileFrameGeometry=@Rect(0 38 565 364)
fileExplorerTopWidgetGeometry=@Rect(0 0 706 46)
fileExplorerLeftWidgetGeometry=@Rect(0 46 140 502)
fileExplorerFileWidgetGeometry=@Rect(140 46 565 502)
fileExplorerBottomWidgetGeometry=@Rect(140 449 565 99)
fileExplorerOkButtonGeometry=@Rect(288 42 116 38)
fileExplorerCancelButtonGeometry=@Rect(425 42 116 38)

[largeDPI]
windowSize=@Size(1400 1088)
backButtonSize=@Size(89 77)
backButtonPixmapGeometry=@Rect(30 20 44 32)
leftMenuItemSize=@Size(280 124)
leftMenuSize=@Size(280 372)
fileItemSize=@Size(200 240)
fileItemPixmapGeometry=@Rect(10 0 170 170)
fileItemTextGeometry=@Rect(4 180 196 50)
fileFrameScrollAreaGeometry=@Rect(40 0 1060 728)
fileFrameGridLayoutContentsMargins=@Rect(10 4 10 40)
fileFrameGridLayoutVerticalSpacing=50
fileFrameGridLayoutHorizontalSpacing=40
fileFrameFileHight=260
fileFrameMaxColumn=4
fileFrameGeometry=@Rect(0 77 1120 728)
fileExplorerTopWidgetGeometry=@Rect(0 0 1400 88)
fileExplorerLeftWidgetGeometry=@Rect(0 88 280 1000)
fileExplorerFileWidgetGeometry=@Rect(280 88 1120 1000)
fileExplorerBottomWidgetGeometry=@Rect(280 892 1120 196)
fileExplorerOkButtonGeometry=@Rect(572 84 232 76)
fileExplorerCancelButtonGeometry=@Rect(844 84 232 76)

[Resolution]
Resolution=@Size(1920 1080)

[recentOpen]
settingIndex=0
